.watercomponentdiv {
    background-color: #dedede;
    /* color: #0000000c;
    color: #00000019;
    color: #ffffffe5; */
    padding: 5rem;
}

.waterbubble {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 150px;
    height: 150px;
    background: transparent;
    border-radius: 72% 28% 77% 23% / 35% 64% 36% 65%;
    box-shadow: inset 10px 10px 10px #0000000c, 15px 25px 10px #00000019, inset -10px -10px 30px #ffffffe5;
    animation: effects 5s ease-in-out 0s infinite alternate;
}

@keyframes effects {
    0% {
        border-radius: 72% 28% 77% 23% / 35% 64% 36% 65%;
    }

    100% {
        border-radius: 49% 51% 59% 41% / 44% 55% 45% 56%;
    }
}

.waterbubble::before,
.waterbubble::after {
    content: '';
    position: absolute;
    background-color: #fff;
}

.waterbubble::before {
    width: 20px;
    height: 20px;
    top: 20%;
    left: 20%;
    border-radius: 72% 28% 77% 23% / 35% 64% 36% 65%;
}

.waterbubble::after {
    width: 16px;
    height: 12px;
    top: 10%;
    left: 35%;
    border-radius: 46% 54% 51% 49% / 40% 59% 41% 60%;
}

.waterbubble:nth-child(2) {
    top: 30%;
    left: 30%;
    transform: scale(0.9);
}
.waterbubble:nth-child(3) {
    top: 50%;
    left: 50%;
    width: 10rem;
    height: 5rem;
    transition: all 0.3s ease;
}
.waterbubble:nth-child(3):hover {
    transform: scale(1.01);
    box-shadow: inset 2px 2px 10px 5px #0000000c, 6px 10px 10px #00000019, inset -20px -15px 30px #ffffffe5;
}

.waterbubbleseperate {
    width: 200px;
    height: 400px;
    clip-path: path("M 10,50 L 90,50 A 10,10,0,0,0 100,40 L 100,10 A 10,10,0,0,1 110,0 L 190,0 A 10,10,0,0,1 200,10 L 200,190 A 10,10,0,0,1 190,200 L 10,200 A 10,10,0,0,1 0,190 L 0,60 A 10,10,0,0,1 10,50 Z");
}