@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0d0f2c;
}
html{
  font-size: 16px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a ;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
a:hover{
  color: rgb(59, 85, 197);
}
.truncate-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;  /* limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (min-width:1900px){
  html{
    font-size: 1vw !important;
  }
}